* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    background: #5292a5;
}

header {
    background: #102c3b;
    padding: 1rem;
    color: #e4e3e3;
}

.scoreboard {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    width: 40vw;
    margin: 2rem auto;
    background-color: #204051;
    border-radius: 3px;
    color: #e4e3e3;
}

.icons {
    cursor: pointer;
    color: #ddd6d6;
    font-size: 5rem;
}

.badge {
    background-color: #265869;
    font-weight: 700;
    flex: 6;
    border-radius: 3px;
    margin: 0 5px;
}

.result {
    margin: 1rem;
    padding: 1rem;
    color: #e4e3e3;
    font-weight: 800;
}

#comp-score, #user-score {
    flex: 1;
}

#rock:hover, #paper:hover, #scissors:hover {
    color: #6fbec7;
}