* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    background: #fafafa;
}

header {
    background: #204051;
    padding: 1rem;
    color: #e4e3e3;
}

.scoreboard {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    width: 30vw;
    margin: 1rem auto;
    background-color: #204051;
    border-radius: 3px;
    color: #e4e3e3;
}

.icons {
    cursor: pointer;
    color: #3b6978;
    font-size: 5rem;
}

.badge {
    background-color: #3b6978;
    font-weight: 500;
    flex: 6;
    border-radius: 3px;
}

.result {
    padding: 1rem;
}

#comp-score, #user-score {
    flex: 1;
}

#rock:hover, #paper:hover, #scissors:hover {
    color: #84a9ac;
}